.box{
	display: none;
	float: right;
  height: 350px;
	width: 350px;
	border: 0.5px solid black;
	border-radius: 5px;
	margin: auto;
	margin-right: 535px;
	margin-top: 10px;
	border-color: rgba(0, 0, 0, 0.68);
	background-color: #f5f8f8;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.18);
}

.close-help{
	height: 30px;
	width: 100px;
	margin-right: 3px;
	margin-left: 125px;
	margin-top: 0px;
	border-radius: 4px;
	border-color: red;
	background-color: red;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.18);
}

.help-title{
	border-bottom: 2px solid black;
	margin-top: 3px;
	margin-bottom: 4px;
	padding-bottom: 2px;
	text-align: center;
}

.help-content{
	margin-top: 4px;
	text-align: justify;
}
