.calculator{
  height: 612px;
	width: 420px;
	border: 3px solid black;
	border-radius: 10px;
	border-color: rgba(0, 0, 0, 0.8);
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.18);
}

.visor{
	border: 3px solid black;
	border-color: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
	margin-top: 10px;
	margin-left: 27px;
	height: 60px;
	width: 360px;
	text-align: right;
	font-size: 20px;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.18);
}

.keyboard{
	border: 0,2px solid;
	border-radius: 5px;
	padding-bottom: 12px;
	margin-left: 26px;
	margin-top: 5px;
	width: 375px;
}

.numbersKey{
	padding: 5px;
	margin-right: 8px;
	margin-bottom: : 10px;
	margin-top: 10px;
  height: 82px;
	width: 82px;
	border-radius: 10px;
	font-size: 20px;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.18);
}

.operationsKey{
	padding: 5px;
	margin-right: 8px;
	margin-bottom: : 10px;
	margin-top: 10px;
  height: 82px;
	width: 82px;
	border-radius: 10px;
	font-size: 20px;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.18);
}

.othersKey{
	padding: 5px;
	margin-right: 8px;
	margin-bottom: : 10px;
	margin-top: 10px;
  height: 82px;
	width: 82px;
	border-radius: 10px;
	font-size: 20px;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.18);
}

.clean{
	background-color: red;
	border-color: red;
}

.equal{
	background-color:  #02b2da;
	border-color: #02b2da;
}

.historic-tooltip {
  position: relative;
  display: inline-block;
}

.historic-tooltip .historic-tooltip-content {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -70px;
  margin-bottom: -90px;
  opacity: 0;
  transition: opacity 0.3s;
}

.historic-tooltip:hover .historic-tooltip-content {
  visibility: visible;
  opacity: 1;
}

.help-tooltip {
  position: relative;
  display: inline-block;
}

.help-tooltip .help-tooltip-content {
  visibility: hidden;
  width: 60px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -20px;
  margin-bottom: -90px;
  opacity: 0;
  transition: opacity 0.3s;
}

.help-tooltip:hover .help-tooltip-content {
  visibility: visible;
  opacity: 1;
}

.top-buttons{
	margin-left: 285px;
	margin-top: 10px;
}

.historic{
	margin-right: 15px;
	border-radius: 50%;
	height: 45px;
	width: 45px;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.18);
}

.help{
	border-radius: 50%;
	height: 45px;
	width: 45px;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.18);
}

.icon{
	font-size: 20px;
	color: rgba(0, 0, 0, 0.74);
}
